html,
body,
ul,
li,
div,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: 61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
